@tailwind base;
@tailwind components;
@tailwind utilities;

/* If the user prefers light mode, 
we still enforce color-scheme: dark, despite the user preference */

/* html {
    color-scheme: dark;
} */


.fi{
    background-size: cover !important;

}


.image-frame{
    -webkit-animation: morph 7s ease-in-out infinite;
    animation: morph 7s ease-in-out infinite;
    transition: all 1s ease-in-out;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.mobile-menu-modal{
    -webkit-animation: slideIn 300ms ease-in-out;
    animation: slideIn 300ms ease-in-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    
    to {
        transform: translateX(0%);
    }
}

.mobile-menu-overlay{
    -webkit-animation: fadeIn 300ms ease-in-out;
    animation: fadeIn 300ms ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}